*{
    box-sizing: border-box;
    color: gray;
}


body{
   /* justify-content: center; */
   background-color: #0B0B0B;
}
/* .form{
    align-content: center;
} */
.container{
    
    max-width: 300px;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
}
.header{
    text-align: center;
    margin: 25px 0;
    
}

.form-items{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}